@using Intex2Group22.Core;
@{
}

@model MummiesViewModel

<h1 class="align-content-center">Mummies</h1>

<div class="row m-1 p-1">
    <div id="categories" class="col-3">
        

        
    </div>
    <div class="col-9">
    


        @foreach (Burialmain b in Model.Burialmains)
        {
        <div class="card card-outline-primary bg-light m-1 p-1">
            <div class="bg-faded p-1">
      
          <ul>
            <li>Mummy Id: @b.Id</li>
            <li>Hair: @b.Haircolor</li>
            <li>Sex: @b.Sex</li>
            <li>Length: @b.Length</li>
            <li>Head Direction: @b.Headdirection</li>
            <li>Age at Death: @b.Ageatdeath</li>
            <li>Area: @b.Area</li>
            <li>Burialid: @b.Burialid @if (User.IsInRole(RoleConstants.Roles.Administrator))
        {
                        <a asp-controller="Home" asp-action="Edit" asp-route-formid="@b.Id" class="btn btn-outline-primary btn-lg  " style="float:right">Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-formid="@b.Id" class="btn btn-outline-primary btn-lg  " style="float:right">Delete</a>
        }
                    <a asp-controller="Home" asp-action="Details" asp-route-formid="@b.Id"
                       class="btn btn-outline-primary btn-lg  " style="float:right">
                        Details
                    </a></li>
        </ul>
       
            </div>
                

       
        </div>
        }


<div page-blah="@Model.PageInfo" page-action="allMummies" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-secondary" class="btn-group pull-right m-1"></div>

</div>
</div>
@if (User.IsInRole(RoleConstants.Roles.Administrator))
{
    <a asp-controller="Home" asp-action="AddForm">Add</a>
}

