@using Intex2Group22.Core;
@{
}

@model MummiesViewModel

<h1 class="align-content-center">Mummies</h1>

<div class="row m-1 p-1">
    <div id="categories" class="col-3">
        <form method="post" asp-action="allMummies">
            <div class="form-group">
                <label for="sex">Sex:</label>
                <select class="form-control" id="sex" name="Sex">
                    <option value="">All</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <br />

             <div class="form-group">
                <label for="hairColor">Hair Color:</label>
                <select class="form-control" id="hairColor" name="HairColor">
                    <option value="">All</option>
                    <option value="B">Brown</option>
                    <option value="K">Black</option>
                    <option value="A">Brown-Red</option>
                    <option value="R">Red</option>
                    <option value="D">Blonde</option>
                    <option value="U">Unknown</option>
                </select>
            </div>
            <br />

            <div class="form-group">
                <label for="headdirection">Head Direction:</label>
                <select class="form-control" id="headDirection" name="HeadDirection">
                    <option value="">All</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
            </div>
            <br />

            <div class="form-group">
                <label for="ageAtDeath">Age At Death:</label>
                <select class="form-control" id="ageAtDeath" name="AgeAtDeath">
                    <option value="">All</option>
                    <option value="A">Adult - 15+ Years</option>
                    <option value="C">Child 3 - 15 Years</option>
                    <option value="I">Infant 1 - 3 Years</option>
                    <option value="N">Newborn 0 - 1 Years</option>
                    <option value="U">Unknown</option>
                </select>
            </div>
            <br />

            <div class="form-group">
                <label for="area">Area:</label>
                <select class="form-control" id="area" name="Area">
                    <option value="">All</option>
                    <option value="SE">Southeast</option>
                    <option value="SW">Southwest</option>
                    <option value="NW">Northwest</option>
                    <option value="NE">Northeast</option>
                    <option value="NNW">North Northwest</option>
                </select>
            </div>
            <br />

    
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
        
    </div>
    <div class="col-9">
    


        @foreach (Burialmain b in Model.Burialmains)
        {
        <div class="card card-outline-primary bg-light m-1 p-1">
            <div class="bg-faded p-1">
      
          <ul>
            <li>Hair: @b.Haircolor</li>
            <li>Sex: @b.Sex</li>
            <li>Length: @b.Length</li>
            <li>Date of Excavation: @b.Dateofexcavation</li>
        </ul>
        @if (User.IsInRole(RoleConstants.Roles.Administrator))
        {
            <a asp-controller="Home" asp-action="Edit" asp-route-formid="@b.Id">Edit</a>
            <a asp-controller="Home" asp-action="Delete" asp-route-formid="@b.Id">Delete</a>
        }

                    <br />
            </div>
            <span class="card-text">
                <a asp-controller="Home" asp-action="Details" asp-route-formid="@b.Id"
                    class="btn btn-outline-primary btn-lg  " style="float:right">
                    Details
                </a>
            </span>
       
        </div>
        }


<div page-blah="@Model.PageInfo" page-action="allMummies" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-secondary" class="btn-group pull-right m-1"></div>

</div>
</div>
<a asp-controller="Home" asp-action="AddForm">Add</a>

