@{
    ViewData["Title"] = "Details";
}
@model DetailsViewModel
@using Intex2Group22.Core;


    <h1>Mummy Identification Number: @Model.burial.Id</h1>
    
    <br />
<div class="card card-outline-primary bg-light m-1 p-1 mx-auto" style="width: 60rem;">
    <div class="bg-faded p-1">
        <p class="pedit">Square North South: @Model.burial.Squarenorthsouth</p>
        <p class="pedit">North South: @Model.burial.Northsouth</p>
        <p class="pedit">Square East West: @Model.burial.Squareeastwest</p>
        <p class="pedit">East West: @Model.burial.Eastwest</p>
        <p class="pedit">Area: @Model.burial.Area</p>
        <p class="pedit">Burial Number: @Model.burial.Burialnumber</p>
    <p >Fieldbook Excavation Year: @Model.burial.Fieldbookexcavationyear</p>
<p>Fieldbook Page: @Model.burial.Fieldbookpage</p>
<p>Data Expert Initials: @Model.burial.Dataexpertinitials</p>

<p >West to Head: @Model.burial.Westtohead</p>
<p >West to Feet: @Model.burial.Westtofeet</p>
<p >South to Head: @Model.burial.Southtohead</p>
<p >South to Feet: @Model.burial.Southtofeet</p>
<p >Depth: @Model.burial.Depth</p>
<p >Length: @Model.burial.Length</p>
<p >Head Direction: @Model.burial.Headdirection</p>
<p >Preservation: @Model.burial.Preservation</p>
<p >Wrapping: @Model.burial.Wrapping</p>
<p >Age Group: @Model.burial.Adultsubadult</p>
<p >Sex: @Model.burial.Sex</p>
<p >Age at Death: @Model.burial.Ageatdeath</p>
<p >Hair Color: @Model.burial.Haircolor</p>
<p >Samples Collected: @Model.burial.Samplescollected</p>
<p >Goods: @Model.burial.Goods</p>
<p >Face Bundles: @Model.burial.Facebundles</p>
<p >Text: @Model.burial.Text</p>
<p >Burial Id: @Model.burial.Burialid</p>
<p >Date of Excavation: @Model.burial.Dateofexcavation</p>
<p >Shaft Number: @Model.burial.Shaftnumber</p>
<p >Cluster Number: @Model.burial.Clusternumber</p>
<p >Burial Materials: @Model.burial.Burialmaterials</p>
<p >Excavation Recorder: @Model.burial.Excavationrecorder</p>
<p >Hair: @Model.burial.Hair</p>
</div></div>
    <br />
@*<a class="btn btn-primary" asp-controller="Home" asp-action="AddTextile" asp-route-mummyid="@Model.burial.Id">Add Textile</a>*@
<br/>
<br/>
    @foreach (Textile t in Model.textiles)
    {
    <div class="card card-outline-primary bg-light m-1 p-1 mx-auto" style="width: 60rem;">
        <div class="bg-faded p-1">
           <p class="pedit">Textile Description: @t.Description</p>
            <p>Locality: @t.Locale</p>
            <p>Directions: @t.Direction
                @if (User.IsInRole(RoleConstants.Roles.Administrator))
                {
                    <a class="btn btn-primary" asp-controller="Home" asp-action="EditTextile" asp-route-textileid="@t.Id" style="float:right">Edit Textile</a>
                }
            </p>
                
            @foreach (ColorTextile ct in Model.coltexts)
            {
                @if (t.Id == ct.MainTextileid)
                {
                    @foreach(Color c in Model.colors)
                    {
                        @if (c.Id == ct.MainColorid)
                        {
                            <p class="pedit">Textile Color: @c.Value
                                @if (User.IsInRole(RoleConstants.Roles.Administrator))
                                {
                                        <a class="btn btn-primary" asp-controller="Home" asp-action="EditColor" asp-route-colorid="@c.Id" style="float:right">Edit Color</a>
                                 }
                                </p>

            }   
                    }
                }
            }

            @foreach (TextilefunctionTextile tft in Model.functstexts)
            {
                @if (t.Id == tft.MainTextileid)
                {
                    @foreach (Textilefunction tf in Model.textilefunctions)
                    {
                        @if (tf.Id == tft.MainTextilefunctionid)
                        {
                            
                            <p class="pedit">Function: @tf.Value
                                @if (User.IsInRole(RoleConstants.Roles.Administrator))
                                {
                                    <a class="btn btn-primary" asp-controller="Home" asp-action="EditFunction" asp-route-functionid="@tf.Id" style="float:right">Edit Function</a>
                                }
                            </p>
                            
                    }
                        }
                    }
                }
        @foreach (StructureTextile st in Model.structexts)
        {
            @if (t.Id == st.MainTextileid)
            {
                @foreach (Structure s in Model.structures)
                {
                    @if (st.MainStructureid == s.Id)
                    {
                            <p class="pedit">Structure: @s.Value
                                @if (User.IsInRole(RoleConstants.Roles.Administrator))
                                {
                                    <a class="btn btn-primary" asp-controller="Home" asp-action="EditStructure" asp-route-structureid="@s.Id" style="float:right">Edit Structure</a>
                                }
                            </p>
                       
                    }
                }
            }
        }
        </div>
        </div>
    <br /><br />
        
    }

    @foreach (Bodyanalysischart bac in Model.charts)
{
       <div class="card card-outline-primary bg-light m-1 p-1 mx-auto" style="width: 60rem;">
        <div class="bg-faded p-1">
            <p class="pedit">BurialId: @bac.Burialid</p>
            <p class="pedit">Area: @bac.Area</p>
            <p >Observations: @bac.Observations</p>
            <p >Robust: @bac.Robust</p>
            <p >Supraorbital ridges: @bac.Supraorbitalridges</p>
            <p >Orbit edge: @bac.Orbitedge</p>
            <p >Parietal blossing: @bac.Parietalblossing</p>
            <p >Gonion: @bac.Gonion</p>
            <p >Nuchal crest: @bac.Nuchalcrest</p>
            <p >Sphenooccipital synchondrosis: @bac.Sphenooccipitalsynchondrosis</p>
            <p >Lambdoid suture: @bac.Lambdoidsuture</p>
            <p >Squamos suture: @bac.Squamossuture</p>
            <p >Tooth attrition: @bac.Toothattrition</p>
            <p >Tooth eruption age estimation: @bac.Tootheruptionageestimation</p>
            <p >Ventral arc: @bac.Ventralarc</p>
            <p >Subpubic angle: @bac.Subpubicangle</p>
            <p >Sciatic notch: @bac.Sciaticnotch</p>
            <p >Medical Ip Ramus: @bac.MedicalIpRamus</p>
            <p >Femur: @bac.Femur</p>
            <p >Femur head diameter: @bac.Femurheaddiameter</p>
            <p >Femur length: @bac.Femurlength</p>
            <p >Humerus: @bac.Humerus</p>
            <p >Humerus head diameter: @bac.Humerusheaddiameter</p>
            <p >Humerus length: @bac.Humeruslength</p>
            <p >Estimate stature: @bac.Estimatestature</p>
            <p >Osteophytosis: @bac.Osteophytosis</p>
            <p >Caries Periodontal Disease: @bac.CariesPeriodontalDisease</p>
            <p >Notes: @bac.Notes</p>


            @if (User.IsInRole(RoleConstants.Roles.Administrator))
            {
                <a class="btn btn-primary"  asp-controller="Home" asp-action="EditBodyChart" asp-route-chartid="@bac.Burialid">Edit Chart</a>
            }
        </div>
    </div>
}
<br />

<a class="btn btn-dark" asp-controller="Home" asp-action="allMummies">Back to Mummies</a>

